<!-- <ul>
  <li *ngFor="let p of profile | keyvalue">
    {{ p.key }} ... {{ p.value }}
  </li>
</ul> -->


<!-- 
<ul>
  <li *ngFor="let p of profile|json ">
    {{ p }}
  </li>
</ul> -->
<a routerLink="/user" routerLinkActive="active">SEARCH A USER ON GITHUB</a>

<!-- search form -->
<form>
  <div class="form-group">
    <label for="exampleInputEmail1">Github user</label>
    <input type="text" class="form-control" name="user" #newuser id="githubUser" placeholder="Enter github user">
  </div>
  <button type="submit" (click)="searchUser(newuser)" class="btn btn-primary">Submit</button>
</form>
<!-- search form  -->

<p> {{ name }} </p>
<img src="{{ image }}" alt="" srcset="">
<ul *ngFor='let repo of profile'>
  <li> {{repo.name}} </li>
</ul>
