<!-- <ul>
  <li *ngFor="let p of profile | keyvalue">
    {{ p.key }} ... {{ p.value }}
  </li>
</ul> -->


<!-- 
<ul>
  <li *ngFor="let p of profile|json ">
    {{ p }}
  </li>
</ul> -->
<div class="container">

  <div class="row mt-5">
    <div class="col-md-6 m-auto">
      <h1 appUnderline>MY PERSONAL PROFILE</h1>
    </div>


    <div class="mt-5 row ">
      <div class="col-md-6 left">
        <h1 class="h1"> GITHUB USERNAME: {{ name }} </h1>
        <img src="{{ image }}" alt="" srcset="">
      </div>
      <div class="col-md-6 ">
        <h2 class="mb-5">CLICK TO SEE MORE DETAILS</h2>
        <ul *ngFor='let repo of profile'>

          <li> <button type="button" class="repo btn btn-info">{{repo.name}}</button> </li>
        </ul>
      </div>
    </div>
  </div>
</div>
