<!-- search form -->
<form>
  <div class="form-group">
    <label for="exampleInputEmail1">Github Repo</label>
    <input type="text" class="form-control" name="user" #newuser id="githubUser" placeholder="Enter github repo name">
  </div>
  <button type="submit" (click)="searchUser(newuser)" class="btn btn-primary">Submit</button>
</form>
<!-- search form  -->



<p> {{name}} </p>
<p> {{url}} </p>
<img src="{{ image }}" alt="" srcset="">
<ul *ngFor='let repo of repos'>
  <a href="{{repo.html_url}}">
    <li> {{repo.name}} </li>
  </a>
</ul>
