<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand link1" href="#">GITHUB API USAGE</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="link" routerLink="/user" routerLinkActive="active">SEARCH A USER ON GITHUB</a>
      </li>
      <li class="ml-5 nav-item active">
        <a class="link" routerLink="/repo" routerLinkActive="active">SEARCH A REPO ON GITHUB</a>
      </li>
    </ul>
  </div>
</nav>
